<div class="hero-image" [innerHTML]="createDiv()">

</div>
<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">Empowering Africans with
      Farming Solutions.</h1>
    <h3>Some nice capturing text about us as a
      company / cooperative and how we will
      be useful to our people.</h3>
    <div class="inputs">
      <h1>WELCOME BACK</h1>

      <ion-item style="margin-top: 3% !important; background-color: transparent;">
        <ion-label position="floating" style="background-color: transparent;">Username</ion-label>
        <ion-input type="text" [(ngModel)]="username" style="background-color: transparent;"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <P id="forgot" (click)="forgotPassword()">Forgot Password?</P>
      <div>
        <ion-button expand="block" padding color="tertiary" (click)="prosesLogin()">Sign In</ion-button>
        <ion-button expand="block" padding color="tertiary" fill="outline" (click)="formRegister()">Register
        </ion-button><br>
      </div>
    </div>
  </div>
</div>