<ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts" #slides>
    <ion-slide>
      <h1>Welcome</h1>
    </ion-slide>
    <ion-slide>
      
<div class="inputs" [formGroup]="loginFormValidator">
  <h1>Sign In</h1>

  <ion-item style="margin-top: 3% !important; background-color: transparent;">
    <ion-label position="floating" style="background-color: transparent;">Username</ion-label>
    <ion-input type="text" formControlName="usernameLogin" [(ngModel)]="username" style="background-color: transparent;"></ion-input>
  </ion-item>
<p   *ngIf="Username.hasError('required') && (Username.dirty || Username.touched)">
  <ion-text color="danger">
    <span>Username is required</span>
  </ion-text>
</p>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input formControlName="passwordLogin" type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <p   *ngIf="Password.hasError('required') && (Password.dirty || Password.touched)">
    <ion-text color="danger">
      <span>Password is required</span>
    </ion-text>
  </p>
  <p   *ngIf="Password.hasError('minlength') && (Password.dirty || Password.touched)">
    <ion-text color="danger">
      <span>Password must not be less than 5 Characters</span>
    </ion-text>
  </p>
  <p   *ngIf="Password.hasError('maxlength') && (Password.dirty || Password.touched)">
    <ion-text color="danger">
      <span>Password must not be greater than 10 Characters</span>
    </ion-text>
  </p>
  <P id="forgot" (click)="forgotPassword()">Forgot Password?</P>
  <div>
    <ion-button expand="block" padding color="tertiary" (click)="prosesLogin()">Sign In</ion-button>
    <ion-button expand="block" padding color="tertiary" fill="outline" (click)="swipeNext()">Register
    </ion-button><br>
  </div>
</div> 
    </ion-slide>
    <ion-slide>
     
      <div class="inputs">
        <h1>Register</h1>
      
        <ion-item style="margin-top: 3% !important; background-color: transparent;">
          <ion-label position="floating" style="background-color: transparent;">Username</ion-label>
          <ion-input type="text" [(ngModel)]="rusername" style="background-color: transparent;"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="rpassword"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
        </ion-item>

        <div>
          <ion-button expand="block" padding color="tertiary" (click)="prosesRegister()">Register</ion-button>
          <ion-button expand="block" padding color="tertiary" fill="outline" (click)="swipePrev()">Sign In
          </ion-button><br>
        </div>
      </div> 
    </ion-slide>
  </ion-slides>

</ion-content>
