<footer class="footer">
  <div class="container-fluid">
      <div class="pull-left">
          <ul>
              <li>
                  <a href="http://www.ciic.co.za/products">
                      Products
                  </a>
              </li>
              <li>
                  <a href="http://www.ciic.co.za/about">
                      About
                  </a>
              </li>
              <li>
                  <a href="http://www.ciic.co.za/terms">
                      Terms
                  </a>
              </li>
              <li>
                  <a href="http://www.ciic.co.za/license">
                      Licenses
                  </a>
              </li>
              <li class="copyright pull-right">
                &copy;
          {{cpdate}}
          <a href="http://www.ciic.co.za" target="_blank">CiiC</a>
            </li>
          </ul>
        </div>
      <!-- <div class="copyright pull-right">
          &copy;
          {{test | date: 'yyyy'}}, made with love by
          <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
      </div> -->
  </div>
</footer>
