<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      hello world
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar style="background: green;">
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->
<div class="container">
  <ion-button (click)="logout()">Logout</ion-button>
  <app-sidebar></app-sidebar>
<app-navbar></app-navbar>
<app-mainbar></app-mainbar>
<app-footbar></app-footbar>
</div>

</ion-content>
