<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      hello world
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar style="background: green;">
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->
<div class="container">
  <app-sidebar></app-sidebar>
<app-navbar></app-navbar>
<app-mainbar></app-mainbar>
<app-footbar></app-footbar>
</div>
<button (click)='registerUser()'>Register</button><br><br>
<button (click)='updateUser()'>Update</button><br><br>
<button (click)='deleteUser()'>Delete</button><br><br>
<button (click)='retrieveUser()'>Retrieve user</button><br><br>
<button (click)='createDatabase()'>Create database</button><br><br>
<button (click)='createTable()'>Create table</button><br><br><br>
</ion-content>
